@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body { margin: 0; overflow-x: hidden; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(128, 128, 128, 0.3); border-radius: 10px; }
